<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Giang_01" verbose="1" >
  <test name="Test_xml_firefox" >
	  <parameter name="testNGbrowser" value="firefox"></parameter>
    <classes>
       <class name="automation.testsuite.D18_Rise_Login_Test" />
    </classes>
  </test>
 
  <test name="Test_xml_chorme" >
	  <parameter name="testNGbrowser" value="chorme"></parameter>
    <classes>
       <class name="automation.testsuite.D18_Rise_Login_Test" />
    </classes>
  </test>
</suite>
